.details{
    display: grid;
    grid-template-columns: 1fr 2fr ;
    margin: 16px 0 10px 15px;
    background-color: rgb(41, 40, 44);
    border-radius: 10px;
}
.name{
    font-size: 24px;
    
}
.pict{
    grid-column: 1;
}
.item{
    grid-column: 2 ;
}
.descr{
    padding-top: 0;
}